@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
:root {
  font-size: 18px;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%);
  /* photography text */
  --dark-moderate-cyan:  hsl(168, 44%, 70%);
  /* footer */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --font-family-title: Fraunces, 'sans-serif', Helvetica;
  --font-family-text: Barlow, 'sans-serif', Helvetica;
}

body {
  font-size: 1.125rem;
}

.header {
  background: url("/images/mobile/image-header.jpg");
  padding: 1.777778rem 0.875rem;
  background-position: center 65%;
  background-size: cover;
  min-height: 100vh;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .responsive-menu {
  margin: 0;
  list-style: none;
  background: var(--white);
  width: 100%;
  box-sizing: content-box;
  position: absolute;
  text-align: center;
  top: calc(5.888889rem - 1.777778rem);
  display: grid;
  gap: 2.166667rem;
  padding: 2.9rem 0;
  display: none;
}

.header .responsive-menu:before {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 1.33333rem solid var(--white);
  border-left: 1.333333rem solid transparent;
  position: absolute;
  right: 0;
  top: -1.333333rem;
}

.header .responsive-menu__item {
  font-family: var(--font-family-text);
  font-style: normal;
  font-weight: 600;
  font-size: 1.111111rem;
  line-height: 1.388889rem;
  letter-spacing: -0.007937rem;
}

.header .responsive-menu__link {
  text-decoration: none;
  color: #808397;
}

.header .responsive-menu__btn {
  font-family: var(--font-family-title);
  font-size: .833333rem;
  display: inline-block;
  background: var(--yellow);
  text-transform: uppercase;
  color: #000;
  border-radius: 1.555556rem;
  padding: .89rem 1.666667rem;
  text-decoration: none;
}

.header .responsive-menu__toggle {
  display: grid;
  gap: .333333rem;
  position: relative;
  z-index: 20;
}

.header .responsive-menu__toggle span {
  display: block;
  background: white;
  min-width: 1.333333rem;
  min-height: .111111rem;
}

.header .responsive-menu__checkbox {
  position: absolute;
  right: 0;
  z-index: 21;
  cursor: pointer;
  width: 1.333333rem;
  height: 1.333333rem;
  opacity: 0;
}

.header .responsive-menu__checkbox:checked ~ .responsive-menu {
  display: grid;
}

.header__title {
  font-family: var(--font-family-title);
  font-size: 2.222222rem;
  font-weight: 900;
  line-height: 2.722222rem;
  letter-spacing: .347222rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 4.888889rem;
}

.header__arrow {
  display: block;
  margin: 5.4rem auto 0 auto;
}

/******************************************* 
End header 
*******************************************/
/******************************************* 
Start Services 
*******************************************/
.services__list, .services-with-bg__list {
  padding: 0;
  margin: 0;
  display: grid;
  text-align: center;
}

.services__item, .services-with-bg__item {
  position: relative;
  overflow: hidden;
}

.services-with-bg__container {
  position: absolute;
  z-index: 2;
  bottom: 2.5rem;
}

.services__img, .services-with-bg__img {
  width: 100%;
  display: block;
}

.services-with-bg__img {
  position: relative;
  z-index: 0;
}

.services__title {
  font-family: 'Fraunces', sans-serif;
  margin: 4rem 1.333333rem 1.5rem 1.333333rem;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
  font-size: 1.777778rem;
}

.services__text {
  color: #818398;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 1.333333rem 1.777778rem 1.333333rem;
}

.services__text--green {
  color: var(--dark-desaturated-cyan);
}

.services__text--blue {
  color: var(--dark-blue);
}

.services__link {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  color: #000;
  letter-spacing: .055556rem;
  text-transform: uppercase;
  margin-bottom: 3.555556rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: .833333rem;
  z-index: 0;
}

.services__link::before {
  content: "";
  width: 115%;
  position: absolute;
  height: .5rem;
  bottom: -0.3rem;
  border-radius: 1.555556rem;
  opacity: .25;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: -1;
}

.services__link:hover::before {
  opacity: 1;
}

.services__link--red::before {
  background: var(--yellow);
}

.services__link--yellow::before {
  background: var(--soft-red);
}

.services-with-bg__title {
  font-family: 'Fraunces', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.555556rem;
  line-height: 1.944444rem;
  text-align: center;
  letter-spacing: -0.011111rem;
}

.services-with-bg__title--green {
  color: var(--dark-desaturated-cyan);
}

.services-with-bg__title--blue {
  color: var(--dark-blue);
}

.services-with-bg__text {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: .888889rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: -0.006349rem;
  padding: 0 1.333333rem;
}

.services-with-bg__text--green {
  color: var(--dark-desaturated-cyan);
}

.services-with-bg__text--blue {
  color: var(--dark-blue);
}

/******************************************* 
End Services 
*******************************************/
/******************************************* 
Start testimonials 
*******************************************/
.testimonials {
  text-align: center;
}

.testimonials__title {
  margin: 4rem 0;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  letter-spacing: .222222rem;
  color: #A7AAAD;
  text-transform: uppercase;
}

.testimonials__list {
  padding: 0;
  list-style: none;
}

.testimonials__item {
  margin: 0 1.333333rem 4rem 1.333333rem;
}

.testimonials__img {
  max-width: 4.166667rem;
  border-radius: 100%;
}

.testimonials__text {
  font-family: 'Barlow';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.00803571473rem;
  color: var(--very-dark-grayish-blue);
  margin: 1.777778rem 0 1.777778rem 0;
}

.testimonials__name {
  display: block;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: -0.008036rem;
  color: var(---very-dark-desaturated-blue);
}

.testimonials__occupation {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: .777778rem;
  line-height: 1.5625rem;
  letter-spacing: -0.00625rem;
  color: var(--grayish-blue);
}

/******************************************* 
End testimonials 
*******************************************/
/******************************************* 
Start gallery 
*******************************************/
.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__img {
  display: block;
  width: 100%;
}

/******************************************* 
End gallery 
*******************************************/
/******************************************* 
Start Footer 
*******************************************/
footer {
  background: var(--dark-moderate-cyan);
  overflow: hidden;
}

footer svg {
  display: block;
  margin: 0 auto;
  padding: 4rem 0 2.5rem 0;
  fill: var(--dark-desaturated-cyan);
  max-width: 9.444444rem;
}

footer .nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer .nav__link {
  color: #458c7d;
  text-decoration: none;
  font-family: 'Barlow';
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5625rem;
  letter-spacing: .007222rem;
}

footer .social {
  margin: 4.888889rem auto 4.666667rem auto;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.555556rem;
  align-items: center;
  justify-content: center;
}

/******************************************* 
End Footer 
*******************************************/
@media (min-width: 50.88889rem) {
  .header {
    background: url(/images/desktop/image-header.jpg) no-repeat;
    background-color: #3dbeff;
    background-position: center bottom;
    background-size: contain;
    padding: 1.888889rem 2.666667rem 0 2.666667rem;
  }
  .header__svg {
    min-width: 9.444444rem;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header__title {
    font-size: 3.111111rem;
    letter-spacing: .486111rem;
    line-height: 3.833333rem;
    margin-top: 8.333333rem;
  }
  .header__arrow {
    margin-top: 6.9rem;
  }
  .header .responsive-menu {
    display: flex;
    background: none;
    position: initial;
    width: auto;
    align-items: center;
    padding: 0;
  }
  .header .responsive-menu__link {
    color: var(--white);
  }
  .header .responsive-menu__btn {
    background: var(--white);
    transition: all 0.2s ease-out;
  }
  .header .responsive-menu__btn:hover {
    background: rgba(255, 255, 255, 0.25);
    color: var(--white);
  }
  .header .responsive-menu:before {
    display: none;
  }
  .header .responsive-menu__checkbox, .header .responsive-menu__toggle {
    display: none;
  }
  .services__item {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    text-align: left;
    align-items: center;
    display: grid;
  }
  .services__item:nth-child(1) {
    display: grid;
  }
  .services__item:nth-child(1) .services-item__container {
    grid-row: 1;
  }
  .services__title {
    font-size: 2.222222rem;
    margin: 0 0 1.777778rem 0;
  }
  .services__text {
    margin: 0;
    line-height: 1.666667rem;
    letter-spacing: -0.007143rem;
  }
  .services__link {
    margin: 2.222222rem 0 0 0;
  }
  .services-item__container {
    margin: 0 auto;
    max-width: 24.722222rem;
  }
  .services-item__container--over {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .services-with-bg__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services-with-bg__title {
    font-size: 1.555556rem;
  }
  .services-with-bg__text {
    padding: 0 10.555556rem;
  }
  .testimonials {
    max-width: 61.666667rem;
    margin: 0 auto 8.333333rem auto;
  }
  .testimonials__list {
    display: flex;
    gap: 1.666667rem;
  }
  .testimonials__item {
    margin: 0;
  }
  .testimonials__name {
    margin-bottom: .5rem;
  }
  .testimonials__text {
    font-size: 1rem;
    margin: 3.222222rem 0 3.833333rem 0;
  }
  .gallery__list {
    display: flex;
  }
  .footer .nav {
    max-width: 16.666667rem;
    margin: 0 auto;
  }
  .footer .nav__link:hover {
    color: var(--white);
  }
}
/*# sourceMappingURL=styles.css.map */